{% extends 'base.html.twig' %}
{% block body %}
    <h1>Welcome {{ name }}!</h1>

    <p>Thank you for signing up for StudentTeacher project.</p>

    <p>As an extra security measure, please verify this is the correct email address linked to your account by clicking
        this <b><a href="{{ url_confirmation }}">url</a></b>.
    </p>

    <p>Best wishes</p>

    <p>StudentTeacher Support Team</p>
{% endblock %}